[2019-03-18 15:17] benjamingeer opened #1 "Generate client code from ontologies"
See https://github.com/dhlab-basel/Knora/issues/1256

[2019-07-02 08:30] tobiasschweizer opened #2 "Testing API Calls"
In order to mock calls to the Knora API, we could use https://jasmine.github.io/tutorials/mocking_ajax

package.json:
[code]

karam.conf.js:
[code]

And then in the spec:

[code]

Like this, we could also mock the Knora API response by serving a JSON file.

[2019-07-07 18:39] tobiasschweizer commented on #2
closed by #4

[2019-07-07 18:39] #2 closed

[2019-07-08 12:56] tobiasschweizer opened #5 "New Design of Client Library for Knora Resources"
This issue is related to https://github.com/dhlab-basel/Knora/issues/1256. Details about how to generate the necessary client code could should be discussed there.

# Read, Update, Add, Delete

Support of different operations (read, update, add, delete) on generic resources (incl. label) and values (incl. comment): handle conversions from and to JSON-LD and communicate with the Knora API.

I think

[2019-07-08 12:59] tobiasschweizer commented on #5
@lrosenth Let's see how this relates to the simplifyer you wrote to read resources from JSON-LD.

[2019-07-08 13:01] tobiasschweizer opened #6 "Caching"
For ontology information and lists, we have to provide caches that also work if there are async   requests for the same entity.

[2019-07-09 09:18] tobiasschweizer commented on #5
- Abstract Resource
     - ReadResource (label, type, IRI, values)
     - CreateResource (label, type, values)
     - UpdateResource (label, type, IRI, values to be updated incl. current value IRIs)
     - DeleteResource (IRI)

[2019-07-09 13:16] benjamingeer commented on #5
Please don't forget the admin API, which has different requirements because:

* It uses plain JSON instead of JSON-LD.
* It deals not with resources but with admin classes like `User` and `Project`.

Please have a look at the classes I generated for the admin API, targeting [knora-api-js-lib](https://github.com/dhlab-basel/knora-api-js-lib):

https://github.com/dhlab-basel/Knora/pull/1259#issuecom

[2019-07-09 13:18] tobiasschweizer commented on #5
@benjamingeer Thanks for pointing this out. I will check with @andreas-aeschlimann next week.

[2019-07-22 10:27] gfoo commented on #5
Don't forget other metadata like: `ark`, `permissions`, `creation`, `lastModification` and `attachedUser` (+ some of them can be updated)

[2019-07-22 10:27] tobiasschweizer commented on #5
Good point!

[2019-07-22 10:33] gfoo commented on #5
Started [here](https://github.com/dhlab-basel/Knora-ui/pull/216) some devs for your jsonld parser.

[2019-07-22 11:28] tobiasschweizer commented on #5
got it, thx.

[2019-07-22 15:40] lrosenth commented on #5
Discussion between @lrosenth and @tobiasschweizer:

- we want a _simple to use_ client library that implements CRUD (Create, Read, Update and Delete). The user should not have to know about JSON-LD.
- In order to implement this we need to know the system properties (given by the knora-ontologies (knora-base, knora-gui and knora-admin?) in order find the project-defined properties. **We suggest to

[2019-08-05 14:15] tobiasschweizer commented on #5
note to myself: when making a get request for a resource, the timestamp should be an optional parameter.

[2019-08-13 20:35] #6 closed

[2019-08-20 16:24] tobiasschweizer opened #10 "Publishing Package"
- put JS in one folder: `tsconfig.json`: `"outDir": "dist"`
- publish this code: `package.json`: `"files": [
    "dist"
  ]`
- `.gitignore` only has mention `dist`

However, when importing the module with yalc there are errors:
[code]

[2019-08-26 08:56] tobiasschweizer opened #12 "tslint compliant editor settings"
we should define settings for the editor so the config complies with the tslint settings

[2019-08-26 08:57] tobiasschweizer commented on #12
see https://editorconfig.org

[2019-08-26 09:08] tobiasschweizer commented on #12
sample config https://github.com/microsoft/TypeScript/blob/master/.editorconfig

[2019-08-27 14:02] #10 closed

[2019-08-28 11:06] andreas-aeschlimann commented on #12
Unfortunately I do not know if PhpStorm/WebStorm really listens to these configs. For auto-format, I think you still need to configure the properties in the program.

Maybe we can set up a settings repository for that?
https://www.jetbrains.com/help/phpstorm/sharing-your-ide-settings.html#settings-repository

[2019-08-28 13:08] tobiasschweizer opened #15 "Integrate generated client code"
adapt `src/api/admin/users/users-endpoint.spec.ts`:

`request.respondWith(MockAjaxCall.mockResponse(JSON.stringify({user: user})));` ->
`request.respondWith(MockAjaxCall.mockResponse(JSON.stringify(user)));`

The generated test data will contain a member `user`.

[2019-08-28 14:17] tobiasschweizer commented on #12
In Webstorm, the "EditorConfig" can be installed (or is installed by default).

Unfortunately, the single/double quote setting is not supported yet by editorconfig (just a proposal: https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#ideas-for-domain-specific-properties)

[2019-08-28 14:29] tobiasschweizer commented on #12
see https://www.jetbrains.com/help/webstorm/configuring-code-style.html

once an `.editorconfig` file is created, its effects can be previewed. "Code- > Reformat Code" applies them.

[2019-08-28 14:30] tobiasschweizer commented on #12
[code]

[2019-08-29 11:38] andreas-aeschlimann commented on #12
I see, but there are many settings in WebStorm, such as spacing in brackets, parameters, functions etc. I think we should share those settings somehow to prevent edit wars. If you want, I can try to investigate further.

[2019-08-29 11:45] tobiasschweizer commented on #12
Let0s define some sensible defaults for DaSCH TypeScript code and see how much we can set in editorconfig (version controlled) and what needs to be set in the editor's settings

[2019-08-29 20:23] musicEnfanthen commented on #12
You could have a look at [prettier](https://prettier.io/). Should be able to cover most of your needs.

[2019-09-02 07:00] tobiasschweizer commented on #12
Thanks for the link. How did you deal with tslint? https://prettier.io/docs/en/integrating-with-linters.html

[2019-09-02 21:06] tobiasschweizer opened #17 "check for forkJoin on empty arrays"
https://stackoverflow.com/questions/53477784/rxjs-forkjoin-with-empty-array?rq=1

https://www.learnrxjs.io/operators/conditional/defaultifempty.html

[2019-09-03 15:15] tobiasschweizer opened #18 "Make karma test framework support ES6"
https://github.com/monounity/karma-typescript/tree/master/packages/karma-typescript-es6-transform

[2019-09-04 13:54] #15 closed

[2019-09-04 13:54] #1 closed

[2019-09-04 13:58] #18 closed

[2019-09-04 14:52] andreas-aeschlimann opened #19 "Improve jsonld import"
In OntologiesEndpoint, we should improve the import of the JSON LD library.

[code]

[2019-09-04 16:16] #12 closed

[2019-09-09 07:26] tobiasschweizer opened #21 "Automatically unsubscribe in GenericCache"
Use `take` operator to automatically unsubscribe when first value has been emitted:

[code]

We expect exactly one value.

https://blog.angularindepth.com/the-best-way-to-unsubscribe-rxjs-observable-in-the-angular-applications-d8f9aa42f6a0

If an error occurs, `AsyncSubject` should probably fail too. Maybe add error callback and let `AsyncSubject` fail in that case.

[2019-09-09 15:18] #17 closed

[2019-09-09 15:22] tobiasschweizer opened #23 "Refactor Custom Converters"
Refactor custom converter classes in `src/models/v2/CustomConverters.ts`.

[2019-09-09 18:13] tobiasschweizer opened #25 "Test data JSON-LD handling"
Refactor test framework so that there only needs to be one JSON-LD file as returned by Knora. Remove the prefixes suing jsonld on-the-fly in the test framework.

[2019-09-10 07:14] tobiasschweizer opened #26 "Encapsulate Complex Queries: Combine requests"
When doing a full resource requests, the incoming links should be queried as well (this could be made optional if the client is not interested in it). Similarly, some media types require more information than the full resource requests returns, see https://github.com/dhlab-basel/knora-api-js-lib/issues/5#issue-465242546.

In these cases, the result of the full resource request should be combined w

[2019-09-10 08:21] tobiasschweizer commented on #26
it would be nice if we could return the result of the full resource requests immediately when available, also when the Gravsearch result is not there yet. Once it is there, the client would receive another call to `next`.

[2019-09-10 08:22] tobiasschweizer commented on #26
@andreas-aeschlimann Do yo have an idea how to do this (https://github.com/dhlab-basel/knora-api-js-lib/issues/26#issuecomment-529828246)?

[2019-09-10 08:31] tobiasschweizer commented on #26
could be useful: https://stackoverflow.com/questions/54039425/rxjs-combinelatest-without-waiting-for-source-observales-to-emit

[2019-09-10 11:13] tobiasschweizer opened #27 "Simplify handling of values and incoming links"
Simplify access to values and incoming links on `ReadResource`.

[2019-09-10 11:59] tobiasschweizer commented on #25
I think the best solution would be adding a program that would be run by npm and created "expanded" versions of every jsonld file in the v2 test data dir.

[2019-09-10 14:10] tobiasschweizer commented on #26
after discussion with @lrosenth:

We need to be able to handle paging when dealing with the search endpoint. Idea: the client could use a class that performs the first page of a search result and offers a `next()` method that can be called to get the next page, integrating the new results into the same structure.

[2019-09-10 14:23] tobiasschweizer commented on #26
see https://dev.to/exacs/es2018-real-life-simple-usage-of-async-iteration-get-paginated-data-from-rest-apis-3i2e

[2019-09-11 06:35] tobiasschweizer commented on #26
async iterators: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/asyncIterator

[2019-09-11 07:52] tobiasschweizer commented on #27
A resource's properties should be indexed by the property Iri pointing to an array of values.

[2019-09-11 09:19] lrosenth opened #30 "Generic Cache Dependency Resolution optional"
We would like to have the cache configurable regarding dependency resolution. There may be cases where we do not want to resolve dependencies (e.g. some cases with list nodes). Should be a parameter at construction time.

[2019-09-11 11:26] tobiasschweizer opened #31 "Implement Cache for List Nodes"
Try to do this with `GenericCache`. As an optimization, the whole list should be indicated as the dependency of a particular list node. When writing the list back to the cache, each node should have its separate entry. Existing nodes must not be overwritten.

[2019-09-11 11:33] tobiasschweizer commented on #31
I think for lists the `GenericCache` would have to declare an abstract method `requestDependencyFromKnora`. For `OntologyCache`, the implementation would be identical to `requestItemFromKnora`. Also for writing the dependency back, something has to be provided to identify the single elements to add to the cache.

[2019-09-12 06:54] tobiasschweizer opened #34 "Add creation and modification date to ReadResource and ReadValue"
see https://github.com/dhlab-basel/Knora-ui/pull/216

[2019-09-16 14:44] tobiasschweizer opened #41 "Support knora-api:timeValue"
implement support for https://github.com/dhlab-basel/Knora/pull/1403

[2019-09-16 16:27] #34 closed

[2019-09-17 13:29] #31 closed

[2019-09-17 14:10] tobiasschweizer opened #43 "Add missing properties to Ontology Entities"
Properties (`src/models/v2/ontologies/resource-property-definition.ts`):
- ~~guiorder (along with cardinality)~~
- ~~isEditable~~,
- ~~isLinkProperty~~,
- ~~isLinkValueProperty~~
- ~~guiAttribute~~
- ~~isInherited~~

Resource classes (`src/models/v2/ontologies/resource-class-definition.ts`):
- ~~canBeInstantiated~~

[2019-09-17 22:58] lrosenth opened #45 "Getting classname or subclass"
In order to access the values, I need to now which subclass of ReadValue I get. ```obj.constructor.name``` does not work in minified code.

We should add an ```is A``property with symbols... (see my simplifier...)

https://github.com/dasch-swiss/knora-jsonld-simplify/blob/ad7cddbad28debb15863263aa83b3ad820d99d3f/src/KnoraValue.ts#L7-L10

[2019-09-18 06:24] tobiasschweizer commented on #45
There is already a `type` property on each `ReadValue`:

https://github.com/dhlab-basel/knora-api-js-lib/blob/6bb8f562f4aa11a7250e815b1aee5262ec5defed/src/models/v2/resources/values/read-value.ts#L13

For a `ReadUriValue` that would be "http://api.knora.org/ontology/knora-api/v2#UriValue'".

In addition, we could add symbols as suggested by you. Should they correspond to the class name?

[2019-09-18 11:06] tobiasschweizer commented on #45
I think using symbols does not make much of a difference because casting is still necessary:

https://github.com/dhlab-basel/0807-mls-app-ng/blob/9d55a068766809eb8cce91ed8fa9071fec5f868e/src/app/services/knora-api.service.ts#L98-L102

What about a method like `<T>getValuesAsType(propertyIri: string, expectedType: dataType: { new(): T }): T[]`?

It would perform a check (is the value really an inst

[2019-09-18 13:21] benjamingeer opened #47 "Breaking change in format of knora-api:lastModificationDate"
https://github.com/dhlab-basel/Knora/pull/1442 fixes the format of `knora-api:lastModificationDate` in ontology requests and responses. Client code needs to be updated.

[2019-09-18 14:32] tobiasschweizer opened #48 "Test lib in productive env."
make a productive build of the test app incl. minimized JS and run test methods from application.html

make this an automated E2E test eventually

[2019-09-19 07:14] benjamingeer opened #49 "Add TimeValue type"
Support the `TimeValue` type added in PR https://github.com/dhlab-basel/Knora/pull/1403.

[2019-09-19 07:15] tobiasschweizer commented on #49
duplicate of #41

[2019-09-19 07:15] #49 closed

[2019-09-19 13:10] tobiasschweizer opened #50 "Automate getting v2 test data from Knora"
Getting and updating V2 test data should be automated, e.g., with a script.

[2019-09-19 13:11] tobiasschweizer commented on #50
@benjamingeer I will try to do that next week so I can work on #47 and #49 and adapt the test data automatically.

[2019-09-19 14:14] lrosenth opened #51 "Optimize JSON-LD handling (prefixes)"
Endpoints should use a function to handle JSON-LD compact call
knora-api-js-lib/expand-jsonld-test-data-files.js must be adapted too
Adapt and xport Constants.ts so the client can use it

[2019-09-19 14:26] lrosenth opened #52 "Error handling: print line number and source file"
In order to identify errors, include linenumber and source file into error information.

[2019-09-19 23:10] lrosenth opened #53 "getNumberOfValues(prop) always >= 1, even if property has no values"
getNumberOfValues(prop) always returns a value >0 1, even if the property has no value.

[2019-09-22 17:11] tobiasschweizer opened #55 "Complete test for admin API"
complete the specs for admin API

[2019-09-23 06:44] #43 closed

[2019-09-23 07:51] tobiasschweizer commented on #53
I cannot reproduce this.

Could you please try the following:
- check out https://github.com/dhlab-basel/knora-api-js-lib-test/pull/4
- start the app (requires a running instance of Knora)
- click on button "Get anything testding"
- check the output in the template

<img width="248" alt="Screen Shot 2019-09-23 at 9 47 46 AM" src="https://user-images.githubusercontent.com/6000023/65409151-3ea9a580-

[2019-09-23 08:07] tobiasschweizer commented on #53
In addition, you can check out https://github.com/dhlab-basel/knora-api-js-lib-test/pull/4 and run the e2e tests: `nom run e2e`.

There is still a problem with Chrome verison: https://github.com/dhlab-basel/knora-api-js-lib-test/issues/2#issuecomment-533031956

[2019-09-23 09:44] tobiasschweizer opened #57 "add support for textValueHasLanguage"
add support for `textValueHasLanguage` to `ResourcesConversionUtil`

[2019-09-24 14:46] lrosenth commented on #53
I resolved – not necessary

[2019-09-24 14:46] #53 closed

[2019-09-25 08:14] tobiasschweizer commented on #55
@andreas-aeschlimann any chance you could work on this?

[2019-09-25 08:15] tobiasschweizer commented on #50
done in #56

[2019-09-25 08:16] #50 closed

[2019-09-25 14:51] andreas-aeschlimann opened #60 "Update packages"
I noticed that some dependencies should be updated and they will produce errors in the tests (because the compilation is probably more strict).

[2019-09-25 16:07] andreas-aeschlimann opened #63 "Consistent return values on public API methods"
We should consider returning either `ApiResponseData<T> | ApiResponseError` for all API methods or `T | ApiResponseError`.

[2019-09-25 16:18] andreas-aeschlimann opened #64 "Strict json convert use when deserializing"
Use the
[code]
instead of `<T | T[]> jsonConvert.deserialize()`.

[2019-09-25 16:24] andreas-aeschlimann opened #65 "Implement correct instance in UserCache spec file"
Implement it when #63 is decided. The necessary line here:

https://github.com/dhlab-basel/knora-api-js-lib/blob/66de9e75216c6583ceb7b8a2cdc5b441eadeba17/src/cache/UserCache.spec.ts#L35

[2019-09-25 22:13] #45 closed

[2019-09-26 11:23] tobiasschweizer opened #67 "Find better way to support empty constructor and constructor with arguments"
Currently, complex values like `ReadDateValue` or `ReadGeomValue` are instantiated in two steps: first, `json2typescript` creates an instance of `ParseReadDateValue` or `ParseReadGeomValue` respectively. From this, a `ReadDateValue` or `ReadGeomValue` is constructed. All classes are subclasses of `ReadValue` and therefore we need to support two constructor signatures: an empty and a non-empty one:

[2019-09-26 11:37] tobiasschweizer commented on #67
I got the current solution from https://stackoverflow.com/questions/39407311/typescript-class-overload-signature-is-not-compatible-with-function-implementa

[2019-09-26 11:48] andreas-aeschlimann commented on #67
I usually use static methods to overload:

[code]

[2019-09-26 11:49] #60 closed

[2019-09-26 13:33] tobiasschweizer commented on #67
@andreas-aeschlimann Thanks, I will try out factory methods after my holidays!

[2019-10-15 07:05] tobiasschweizer opened #71 "Prepare version 1.0.0 for publication on npm"
For version 1.0.0, the following needs to be done:

- [x] add design documentation
- [x] make JSdoc style documentation consistent
- [x] create public API documentation and put it online (github pages)
- [x] update README, explain how Knora integration scripts work
- [x] finalize tests for admin API: #55 (@andreas-aeschlimann)
- [ ] ~~create instances `OntologyCache` and `ListListNodeCache` in v2

[2019-10-22 10:00] tobiasschweizer opened #78 "Handling of Cache instances"
The v2 endpoint should create instances of `OntologyCache` and `ListNodeCache`. This should happen before version 1.0.0 is released.

[2019-10-22 10:02] tobiasschweizer commented on #78
`v2-endpoint.ts`:

[code]

`resources-endpoint.ts`:

[code]

`OntologyCache`:

[code]

[2019-10-22 11:59] #71 closed

[2019-10-23 06:38] tobiasschweizer commented on #55
closed by #72

[2019-10-23 06:38] #55 closed

[2019-10-24 07:16] #78 closed

[2019-10-24 12:46] tobiasschweizer commented on #67
Sample for user endpoint:

https://github.com/dasch-swiss/knora-api-js-lib/blob/ed2e232afa062fc4073811ad5d3265cd88d2a338/src/api/admin/users/users-endpoint.spec.ts#L283-L292

[2019-10-24 16:16] andreas-aeschlimann commented on #67
**Problem 1:** The class generated by Knora defines an empty constructor because of `json2typescript`. This could lead to the creation of – in view of the backend – invalid instances.

Solution: Provide a `protected constructor` and define a static factory method with all properties that are required by the backend to have a consistent instance.

[code]

Furthermore, the consistency checks could b

[2019-10-28 08:49] tobiasschweizer commented on #67
So there would be no way to call the empty constructor directly, but only via the public static method. I think that's a good approach.

I like your idea. We would have to come up with a way to keep in sync with the Knora API. More properties could be added or their names could change.

I have added `integrate-generated-files-admin.sh` to make this easier for the admin API.

I think the proper way

[2019-10-30 11:31] tobiasschweizer opened #85 "V2: Update and Create Values"
Add support for changing and creating values using a model based on inheritance as described in #5.

[2019-11-03 10:32] kilchenmann opened #87 "Missing methods: admin/lists endpoint"
I couldn't find the admin list methods to get lists, to create or to edit.

[2019-11-03 10:35] kilchenmann opened #88 "Missing methods: Get all ontologies"
In the extended search (@knora/search) we use the following method:

[code]

I couldn't find an equivalent method in the knora-api-js-lib to get all ontologies.

[2019-11-03 10:52] kilchenmann commented on #5
Where will I find the gui-order of properties? In @knora/core we added an array of type GuiOrder `{position: number, propertyIri: string}` to resource's ontology information. We need somewhere an array of properties to iterate through in the html template. Please have a look at the [`properties-view.component.html` in @knora/viewer module](https://github.com/dasch-swiss/knora-ui/blob/master/projec

[2019-11-03 11:28] kilchenmann opened #89 "Authentication endpoint: login by username or email address"
As I saw it's only possible to login by username, not by email address. Can you expand the login method to support both?

In @knora/authentication we handled it as follow:

[code]

[2019-11-03 13:23] kilchenmann opened #90 "Users endpoint: Property 'permissions' does not exist on type 'ReadUser'."
As the title says: Property 'permissions' does not exist on type 'ReadUser'. Is there a reason or do we have to handle it in another way?

[2019-11-04 08:58] kilchenmann opened #91 "Users endpoint: activate user is missing"
I couldn't find a method to reactivate a deleted user.

[2019-11-04 09:14] kilchenmann opened #92 "Users endpoint: missing values"
I don't get all values in the UserResponse?

Direct API call: http://0.0.0.0:3333/admin/users/username/root
[code]

Console.log of response from `knoraApiConnection.admin.usersEndpoint.getUserByUsername(this.username)`:

![Screenshot 2019-11-04 at 10 12 59](https://user-images.githubusercontent.com/4253580/68109784-be995400-feeb-11e9-9c93-5f9249b1e9dc.png)

[2019-11-04 10:03] kilchenmann opened #93 "Export all classes"
Not all classes like ProjectResponse or ProjectsResponse are exported. UserResponse is part of @knora/api, but other classes are not and have to be imported from deeper path. It's not consistent.

e.g.
[code]

[2019-11-04 11:02] tobiasschweizer commented on #88
I will add it to `src/api/v2/ontology/ontologies-endpoint.ts`.

[2019-11-04 12:43] tobiasschweizer commented on #5
On a `ReadResource` you can find the property `entityInfo` which contains a `IResourceClassAndPropertyDefinitions`. There you will find the `ClassDefinition` for the resource you are looking at. The `ClassDefinition` contains `propertiesList` that  lists all the properties defined for the resource class, including cardinality and gui order :

https://github.com/dasch-swiss/knora-api-js-lib/blob/c2

[2019-11-04 12:45] #88 closed

[2019-11-04 13:33] kilchenmann commented on #92
The following properties in the UserResponse has no values:
- email: ""
- lang: ""
- status: false instead of true
- systemAdmin: undefined (instead of true) respectively property permissions is missing (#90)
- username: ""

This should be the request: http://0.0.0.0:3333/admin/users/username/root

[2019-11-04 13:40] kilchenmann commented on #91
@benjamingeer Can you add a method to update user's status from false to true? It's the following user operation:

`PUT: /admin/users/iri/<userIri>/Status`

Documented here: https://docs.knora.org/paradox/03-apis/api-admin/users.html

[2019-11-04 13:41] kilchenmann commented on #90
Duplicate issue #92

[2019-11-04 13:41] #90 closed

[2019-11-04 13:50] kilchenmann commented on #89
The authentication is a combination of a identifier and password. The user identifier can be one of the following:
- the user’s IRI,
- the user’s Email, or
- the user’s Username.

The login method and the login form in @knora/authentication module supported the two identifiers email or username by using the mentioned code above.
It's
`POST: v2/authentication` and the params are either
- `{ email:

[2019-11-04 14:33] benjamingeer commented on #91
This is `updateUserStatus`:

https://github.com/dasch-swiss/knora-api-js-lib/blob/22d7c570e3ac852a715a58c4039f31914bc5bf14/src/api/admin/users/users-endpoint.ts#L158

[2019-11-04 14:35] benjamingeer commented on #89
This isn't part of the generated code and I don't know where it's implemented. Reassigning to @tobiasschweizer.

[2019-11-04 14:42] kilchenmann commented on #91
@benjamingeer Tank you!

[2019-11-04 14:42] #91 closed

[2019-11-04 15:42] kilchenmann commented on #92
This is an issue with authentication and the json web token. I think I found a solution to fix it and will try to implement it in the knora-ui modules and in the knora-app.
I was a bit confused that the user status is set to false, when we make the request as not logged-in user. Is there a reason for that?

[2019-11-04 16:09] tobiasschweizer commented on #89
I will implement that in `src/api/v2/authentication/authentication-endpoint.ts`.

[2019-11-04 21:10] #93 closed

[2019-11-05 08:10] #89 closed

[2019-11-06 13:25] tobiasschweizer opened #97 "Use json2typescript when submitting payloads in admin api"
For put and post operations with payload in the admin API, this.jsonConvert.serializeObject(payload) should be called.

[2019-11-07 13:11] #92 closed

[2019-11-07 13:11] #97 closed

[2019-11-08 14:16] kilchenmann opened #100 "Optional properties in UpdateProjectRequest"
Can we set all properties in UpdateProjectRequest class as optional. In my case I have to update project status only (restore deleted project) but keywords and description are needed. Or is there a reason for that?

[2019-11-08 15:16] benjamingeer commented on #100
They're already optional in the sense that they can be empty collections. I think I suggested to @tobiasschweizer that if a collection can be empty, we could make the collection itself optional, but he said this would cause other problems. @tobiasschweizer is that right?

[2019-11-08 15:20] benjamingeer commented on #100
Also, since the default values of these properties are [], you shouldn't have to specify them if you don't need them. What problem are you having?

[2019-11-08 21:07] kilchenmann commented on #100
Not sure, my IDE says: "Type '{ status: true; }' is missing the following properties from type 'UpdateProjectRequest': keywords, description" when I want to update the project status only:

[code]

And when we have a look on the builded definition file of type UpdateProjectRequest, keywords and description are not optional:

[code]

By updating project status I don't want to send keywords or descr

[2019-11-09 08:25] kilchenmann opened #101 "@knora/api has no exported member 'IResourceClassAndPropertyDefinitions'"
I think I need this for the entityInfo in the properties view of @knora/viewer.

[2019-11-09 18:05] benjamingeer commented on #100
I think you have to do it like this:

[code]

I don't know. Have you tried it?

[2019-11-09 18:49] kilchenmann commented on #100
Thanks @benjamingeer. Yes it overrides the values. I tried your solution and this was the error response from Knora:
`{"error":"org.knora.webapi.InconsistentTriplestoreDataException: Project: http://rdfh.ch/projects/00FF has no description defined."}`

This means that the project description was overwritten with the empty value, which should not happen at all. Now, I'm not able to get all projects

[2019-11-09 19:24] benjamingeer commented on #100
Thanks, OK, I’ll find a way to make them optional.

[2019-11-09 21:04] musicEnfanthen commented on #100
Hey guys,

does the `updateProject` route expect a complete `data` = `UpdateProjectRequest` object?

@kilchenmann Could you try to fetch the data for the deleted project first and load it into your `data` variable, then to set `status` of this variable to `true`, and then use the complete `data` object for the `updateRequest`? (Probably two nested API calls with `switchMap` or something similar wi

[2019-11-10 11:52] subotic commented on #100
I've opened an issue https://github.com/dasch-swiss/knora-api/issues/1510 which is related to this one.

[2019-11-11 07:20] kilchenmann commented on #100
@musicEnfanthen:

not a complete object, but keywords and description are needed. I understand your solution, and I also thought about it, but it doesn't make sense to send more data than needed to reactivate a deleted project.

@subotic: Thank you.

[2019-11-11 07:32] kilchenmann commented on #100
The simplest way would be — and thats what I had in the @knora/core module — an additional method to activate a project with the payload type `{status: true}`.

[2019-11-11 10:41] #101 closed

[2019-11-11 11:33] kilchenmann opened #103 "Checking Credentials"
There should be a method to validate the knora-api session.
https://docs.knora.org/paradox/03-apis/api-v2/authentication.html#checking-credentials

[2019-11-11 11:41] kilchenmann opened #104 "Get access to jwt, knoraApiConfig and knoraApiConnection in app or module"
We should store the json webtoken in browser's localstorage (or probably there are better places). Because right now, when we reload the app, the jwt info disappears and the user is not logged-in anymore. In the @knora/authentication I store the session with following information:

- session id = timestamp
- user
  - username: string
  - jwt: string JSON Webtoken
  - lang: string User's language

[2019-11-11 13:16] tobiasschweizer commented on #104
I think in this case the json webtoken has to be reset by the app using the endpoint's setter:

https://github.com/dasch-swiss/knora-api-js-lib/blob/84d7dddd9b1e8e4c2034f04056c265f0475f843b/src/api/endpoint.ts#L46-L48

[2019-11-11 23:45] kilchenmann commented on #104
This works for me. Thanks.

[2019-11-11 23:48] andreas-aeschlimann commented on #104
When the page is reloaded, I assume that you recreate the whole instances as well.

You can pass the JWT in the `KnoraApiConfig` instance that you create before instantiating `KnoraApiConnection`.

It works through the setter as well as @tobiasschweizer mentioned, but it makes less sense imho.

[2019-11-11 23:58] kilchenmann commented on #104
This happens in the AppInit service and I don't have access to this service from the knora-ui module. This is a bit an issue. @andreas-aeschlimann I tried your suggested solution but I wasn't able to set again the KnoraApiConfig.

[2019-11-12 00:07] kilchenmann commented on #104
To understand the problem:

We have to use an AppInitService in the app:

[code]

To have access to the knoraApiConfig or the knoraApiConnection I have to define it in the app.module

[code]

and to inject it in the constructor, where I want to use one of the knora-api-js-lib service with:

[code]

We did this in all our apps like this. It's needed because of the docker builds and the configuratio

[2019-11-12 01:04] andreas-aeschlimann commented on #104
I see. My thoughts about this:

1) The Config instance is indeed created at app load, however, it is passed by reference into the KnoraApiConnection. Thus, you can set `appInitService.knoraApiConfig.jsonWebToken = "asdf"`. It has the same effect as `knoraApiConnection.v2.auth.jsonWebToken = "asdf";`. To be on the safe side, make all properties in the InitService readonly. If you do this, you will

[2019-11-12 01:20] kilchenmann commented on #104
I will try this

[2019-11-12 08:23] kilchenmann commented on #104
Not sure if I understood correct, but I don't think I'll have access to the appInitService outside of the app, e.g. in one of the knora-ui modules. I tried to move this appInitService into the core module, but I have to load the service before loading the app and this is not possible because we can't run a service of a module that is not loaded yet. I have to use configTokens as I described in app

[2019-11-12 13:43] kilchenmann opened #106 "Expand cache services"
Can you expand the cache service with the following methods:

- get project by shortcode
- get project members by shortcode
- get project groups by shortcode
- get all users
- get user by username
- get ontology by iri

[2019-11-12 14:12] #103 closed

[2019-11-14 14:08] tobiasschweizer commented on #106
- get ontology by iri -> use `OntologyCache.getOntology(ontologyIri: string)`
- get project by shortcode -> `ProjectsEndpoint.getProjectByShortname(shortname: string)` -> I can add a cache for this
- get project members by shortcode (`ProjectsEndpoint.getProjectMembersByShortcode(shortcode: string)`) -> I can add a cache for this
- get user by username -> I could adapt the `UserCache` which gets u

[2019-11-17 09:43] kilchenmann opened #107 "usersEndpoint: create or update user"
I'm not able to create a user (or update user). In the app we have a form to create new user and I submit for example the following data:

[code]

I get an error `400 Bad Request` with the message: "The request content was malformed:
Object is missing required member 'username'". I figured out, that the request payload is an empty object `{}`. It seems to be something's wrong in the `createUser` m

[2019-11-18 06:58] tobiasschweizer commented on #107
Could you point out to me how you use the method?

Or could you compare it to the unit tests:

https://github.com/dasch-swiss/knora-api-js-lib/blob/ac1d0fe2bc4b299bb88118aefb175e2d5cf03454/src/api/admin/users/users-endpoint.spec.ts#L289-L369

The unit tests also check for the payload. Hence an empty object should make the tests fail.

[2019-11-18 07:00] tobiasschweizer commented on #107
see #67 for a more convenient way to create instances

[2019-11-18 07:30] kilchenmann commented on #107
I used the method as follow:

[code]

But as #67 says, I have to initiate the data with `new User()` and allocate all properties with the form values? I'll try...

[2019-11-18 07:42] kilchenmann commented on #107
So I have to write as follow:

[code]

It's a little awkward, but ok. Thanks @tobiasschweizer

[2019-11-18 07:45] tobiasschweizer commented on #107
Yes, it is indeed inconvenient!

We will try to come up with a better solution in #67

[2019-11-18 08:14] #107 closed

[2019-11-19 13:46] #100 closed

[2019-11-19 14:19] tobiasschweizer opened #109 "Values endpoint"
values endpoint getValue needs an optional URL query parameter version:

https://github.com/dasch-swiss/knora-api/blob/develop/webapi/src/main/scala/org/knora/webapi/routing/v2/ValuesRouteV2.scala#L57

[2019-11-19 14:21] tobiasschweizer opened #110 "E2E tests integration"
knora-api-js-lib-test could be integrated into this repository so that the e2e tests there would have to pass before PRs in this repo could be merged.

[2019-11-19 17:00] #85 closed

[2019-11-20 07:32] tobiasschweizer commented on #106
@kilchenmann Does the endpoint already exist or does it have to be added?

[2019-11-20 12:25] kilchenmann commented on #106
I'm sorry, didn't saw your previous answer.

Hm, it's a mistake from my side. there is now route or endpoint to get project specific groups. We have to use the `groupsEndpoint.getGroups` and filter by `project.id`. In this case the cache contains all groups. So, it should be a `getGroups cache`.

[2019-11-20 13:12] tobiasschweizer commented on #106
@kilchenmann Do we still need a user cache then?

[2019-11-20 14:01] kilchenmann commented on #106
Not sure. I have to run this request many times — not only to list all users. I need a list of all users also in the user-form to keep email and username unique. I compare new entries with the existing ones. But I can make my one cache for this.

[2019-11-20 14:08] tobiasschweizer commented on #106
I think I could make a simple cache in the admin endpoint that requests all users when the endpoint is created and stores them all so you can ask for specific users without any further request to Knora. Of course, when user data changes or new users are added, the entries have to be updated.

I think this use case is simpler than the ones I have implemented so far so I will make a separate class f

[2019-11-20 16:14] kilchenmann commented on #106
Keep in mind, that only system admin or project admin get an answer from usersEndpoint.getUsers.

[2019-11-20 16:15] tobiasschweizer commented on #106
good point, so you need to log in. I will think of a good way to do this.

[2019-11-20 16:28] kilchenmann commented on #106
Hm, but I don't think we'll need the list of all users outside of the admin interface. So, your solution should be fine.

[2019-11-20 16:30] tobiasschweizer commented on #106
So we would have a `UserCache` by Iri so we could resolve `attachedToUser` props and use `getUsers()` only within the admin area?

[2019-11-28 13:20] kilchenmann opened #112 "Missing constants"
Can someone add the following definitions to [constants file](https://github.com/dasch-swiss/knora-api-js-lib/blob/master/src/models/v2/Constants.ts)?

- FileValue
- AudioFileValue
  - AuidoFileValueHasDuration
- DDDFileValue
- DocumentFileValue
- MovingImageFileValue
  - MovingImageFileValueHasDimX
  - MovingImageFileValueHasDimY
  - MovingImageFileValueHasDuration
  - MovingImageFileValueHasFps

[2019-12-03 08:35] kilchenmann commented on #26
Any progress on this issue? I saw that incomingReferences and outgoingReferences are always empty in the ReadResource object...

[2019-12-03 10:39] tobiasschweizer commented on #26
It depends on what your request looks like. If you do a Gravsearch query, you could get incoming and outgoing refs.

[2019-12-03 10:48] kilchenmann commented on #26
No, only in the getResource request. I thought I will get the pages in resource 'book' in incomingReferences? Or do I have to do an additional request?

[2019-12-03 15:53] tobiasschweizer commented on #26
No, this is not how it works. You have to do a Gravsearch request to get incoming references.

[2019-12-04 09:31] gfoo opened #116 "label of a specified language"
is there a way to get the label of a specified language in `PropertyDefinition` class?

[2019-12-04 13:57] tobiasschweizer commented on #116
At the moment the labels are returned in the user's preferred language only or the fallback language.

[2019-12-08 15:35] kilchenmann commented on #112
Found other missing constants:
(@tobiasschweizer If you need more information about the following list, please have a look at  [KnoraConstants on branch wip/clean-up-core](https://github.com/dasch-swiss/knora-ui/blob/wip/clean-up-core/projects/knora/core/src/lib/declarations/api/knora-constants.ts))

**xsd**
- xsdString
- xsdBoolean
- xsdInteger

**Rdfs**
- RdfProperty

**various constants**
- Sta

[2019-12-08 15:41] kilchenmann commented on #104
This issue has been solved in [knora-ui](https://github.com/dasch-swiss/knora-ui/tree/api-js-lib/develop/) and in [knora-app](https://github.com/dasch-swiss/knora-app/tree/wip/integrate-knora-api-js-lib)

[2019-12-08 15:41] #104 closed

[2019-12-08 15:44] kilchenmann opened #117 "@knora/api has no exported member"
- RegionGeometry
- Point2D
- KnoraDate
- KnoraPeriod
- ReadDateValue
- Precision

[2019-12-09 12:28] tobiasschweizer commented on #110
I think in this repo there could be a directory where the test framework lives. This dir would be excluded from the build.

[2019-12-09 13:30] #112 closed

[2019-12-09 13:30] #117 closed

[2019-12-09 17:49] flavens opened #120 "Create aliases to get more explicit prop names"
In the component ListValue from knora/viewer > property, the prop ListNode should have a more explicit name like "ListNodeIri".

Aliases could be created to rename some props without replace the name everywhere.

[2019-12-09 17:52] flavens opened #121 "MockFactory needed for tests"
a MockFactory is needed at least for the tests in Knora-ui modules to be able to get test data, get mocked objects (especially complex ones like ReadDateValue and ReadGeomValue)

[2019-12-10 08:50] tobiasschweizer opened #122 "check dockerfile for testframework"
see path in https://github.com/dasch-swiss/knora-api-js-lib/pull/119#pullrequestreview-329020891

[2019-12-10 08:51] #110 closed

[2019-12-10 09:03] tobiasschweizer opened #123 "Update Test Angular App to version 8"
Update test framework Angular App to version ~~8~~9.

@flavens Could you give me  a hand here?

[2019-12-10 10:47] tobiasschweizer commented on #121
I will have to think of a way to make this possible without integrating test data in the published version.

[2019-12-10 12:37] flavens opened #124 "Create missing classes that extend ReadFileValue"
In the knora-api-js-lib, there are already 2 class definitions:
- ReadFileValue (abstract class)
- ReadStillImageFileValue

We need for the UI modules the following class definitions for:
- MovingImageFileValue (Contains metadata about a video file.)
- AudioFileValue (Contains metadata about an audio file.)
- DDDFileValue (Contains metadata about a 3D image file.)
- TextFileValue (Contains metadat

[2019-12-10 12:37] flavens commented on #123
@tobiasschweizer yes I can help

[2019-12-12 11:58] tobiasschweizer opened #126 "Handle Precision in Decimal Numbers"
Think about using a lib like https://www.npmjs.com/package/js-big-decimal to handle precision in decimal numbers so we do not loose information.

see https://github.com/dasch-swiss/knora-api-js-lib/pull/115#issuecomment-564600574

[2019-12-17 10:45] tobiasschweizer opened #130 "Integrate Gravsearch Service from Knora-UI"
https://github.com/dasch-swiss/knora-ui/blob/api-js-lib/develop/projects/knora/core/src/lib/services/v2/grav-search.service.ts and the necessary declarations https://github.com/dasch-swiss/knora-ui/blob/api-js-lib/develop/projects/knora/core/src/lib/declarations/api/operators.ts should be integrated into  dasch-swiss/knora-api-js-lib.

Knora-ui search module should then use the service and declara

[2020-01-07 09:21] kilchenmann opened #134 "Missing method: Get all ontologies belongs to project"
Couldn't find a method to get all ontologies that belongs to one project e.g.
`getProjectOntologies(projectIRI)`. I can create my own, as I did in the core module, but it would be more comfortable if we have a method from the lib itself.

[2020-01-07 10:04] kilchenmann commented on #134
@tobiasschweizer If it's okay, I can add the missing method...

[2020-01-21 15:01] #47 closed

[2020-01-27 09:22] tobiasschweizer opened #137 "Admin API: adapt update user"
Integrate changes introduced by https://github.com/dasch-swiss/knora-api/pull/1583#issuecomment-578654462

[2020-01-27 10:55] kilchenmann opened #139 "Missing label in ReadOntology"
Is it possible to extend the `ReadOntology` type with label from `rdfs:label`?

[2020-01-27 12:36] tobiasschweizer commented on #139
Yes, this should be easy to do. Just add additional decorators to `ReadOntology` (https://github.com/dasch-swiss/knora-api-js-lib/blob/master/src/models/v2/ontologies/read-ontology.ts) and add some assertions to https://github.com/dasch-swiss/knora-api-js-lib/blob/324b84f4b1b63b6770f7d6dfa70c8f5c7b8c4088/src/api/v2/ontology/ontologies-endpoint.spec.ts#L56-L72

[2020-01-27 12:56] kilchenmann commented on #139
@tobiasschweizer is there a reason why `classes` and `properties` in the `ReadOntology` are not an array? It is better to have an array that you can iterate over in the html template.

[2020-01-27 12:57] tobiasschweizer commented on #139
The idea is that classes and properties can be accessed by their IRI. I think there could be an additional methods so you could get an array.

[2020-01-27 12:58] kilchenmann commented on #139
Okay

[2020-01-27 13:57] tobiasschweizer opened #140 "Parse Permissions"
There should be a method that takes care of parsing permission strings (https://docs.knora.org/paradox/02-knora-ontologies/knora-base.html#permissions). Also the method should handle the hierarchy of the different permissions: higher permissions imply lesser permissions (https://docs.knora.org/paradox/03-apis/api-v2/reading-user-permissions.html).

Idea: the single permissions could be represented

[2020-01-28 13:22] tobiasschweizer opened #143 "Cardinality util"
Create utility methods to determine if values can be created or deleted depening on the given cardinailites.

[2020-01-28 14:59] #139 closed

[2020-02-05 08:53] #137 closed

[2020-02-05 13:21] #41 closed

[2020-02-06 10:54] flavens opened #145 "Unit test: inject KnoraApiConnection and spy on lib endpoint methods"
We found a way to inject an instance of knora-api-connection and spy on one method in the knora-api-js-lib. However, this is not ideal and the MockFactory should provide a simpler way to get test data and call endpoint methods (e.g. getProjects()).

In this example, we create the spy in the beforeEach() because the method to get projects in the component is triggered in ngOnInit().

**main.compone

[2020-02-07 08:58] tobiasschweizer opened #146 "Wrong import from rxjs/internal"
https://github.com/dasch-swiss/knora-api-js-lib/blob/6f0cfc0ff922c44f7ef82b36b6e1806d15887ffa/src/api/endpoint.ts#L5

use "rxjs/ajax" instead

[2020-02-10 15:54] tobiasschweizer commented on #145
I guess it should not be hard to add something to the public API that generates admin response data.

[2020-02-11 10:47] #143 closed

[2020-02-11 12:06] #140 closed

[2020-02-17 16:12] flavens opened #148 "Building errors due to incompatible rxjs and tsc versions"
**Error description**
I got the following errors when I ran the command line `ng build --project knora-ui`:

<img width="1790" alt="Screenshot 2020-02-17 at 17 01 04" src="https://user-images.githubusercontent.com/29532462/74669283-22980d80-51a7-11ea-91bb-74254d02481a.png">

<img width="1781" alt="Screenshot 2020-02-17 at 15 50 13" src="https://user-images.githubusercontent.com/29532462/74669208-f

[2020-02-21 08:54] mdelez opened #149 "TimeValue not exported"

[2020-02-21 09:21] #149 closed

[2020-02-24 08:51] musicEnfanthen commented on #126
Had the same problem with JS in-built round method. Found this workaround (see link in the JSDOC) which could be helpful for your case, too?

[code]

[2020-02-24 10:26] tobiasschweizer commented on #126
@musicEnfanthen I will look at that, thanks!

[2020-02-26 14:08] tobiasschweizer commented on #123
@flavens Could help me with that after my holiday?

[2020-02-26 14:29] flavens commented on #123
yes sure just let me know

[2020-02-26 14:40] #148 closed

[2020-02-27 06:08] subotic opened #153 "Add temporary fix for the 'should create a resource with values' test"
I've commented out the test in a previous PR. A new PR should create a temporary fix (e.g., change the test data before running the test) until the underlying problem is solved.

@tobiasschweizer wrote:

[code]

This is a problem with precision in JavaScript (https://github.com/dasch-swiss/knora-api-js-lib/issues/126).

[2020-02-27 07:49] tobiasschweizer commented on #153
ok, I will try do do that today.

[2020-02-28 11:03] #153 closed

[2020-02-29 09:11] subotic opened #155 "Adapt to removed client code generation in knora-api"

[2020-03-05 13:18] mdelez opened #157 "Geoname values not exported"

[2020-03-08 15:44] tobiasschweizer opened #159 "Update json2typescript"
use version 1.2.5

[2020-03-09 10:39] #155 closed

[2020-03-09 12:58] #157 closed

[2020-03-10 16:12] tobiasschweizer opened #161 "Paging: Remove ForbiddenResource"
https://github.com/dasch-swiss/knora-api/pull/1615 removes `ForbiddenResouce` from the results and introduces a new flag `knora-api:mayHaveMoreResults`.

knora-api-js-lib formats should be adapted.

@benjamingeer Can I get the required test data from https://github.com/dasch-swiss/knora-api/pull/1615?

[2020-03-10 16:39] benjamingeer commented on #161
I'll add a test response that includes `knora-api:mayHaveMoreResults`.

[2020-03-10 17:01] tobiasschweizer commented on #161
Can a full resource request have this property too? In v2, you can request more than one resource.

[2020-03-10 17:47] benjamingeer commented on #161
No, because there's no paging in that request.

[2020-03-11 12:47] tobiasschweizer commented on #161
@benjamingeer  A search returns `ReadResource[]` (https://github.com/dasch-swiss/knora-api-js-lib/blob/03e74aec56d7d005b866e6f48ddf6b771fa280a0/src/api/v2/search/search-endpoint.ts#L125).

So currently there is no way to put the information that there are possibly more results. Of course, I could change the signature, wrapping the result array in an object, but this would not be backwards compatib

[2020-03-11 13:22] tobiasschweizer commented on #161
I think something like this would be possible:

[code]

But it requires the compiler option `"downlevelIteration" : true` and I do not understand yet what this implies.

[2020-03-11 13:27] benjamingeer commented on #161
I think it would be clearer to wrap the result array in an object.

[2020-03-11 13:39] tobiasschweizer commented on #161
yes, but this would be a incompatible change in the public API. And I am not sure how to deal with that (notification, release etc.).

[2020-03-11 13:59] benjamingeer commented on #161
The whole thing is in alpha, right? It's not expected to be stable. I think you can change whatever you want. You can use Discuss DaSCH for the notification.

[2020-03-11 14:17] tobiasschweizer commented on #161
I thought we do not use it anymore, but Google Drive instead.

[2020-03-11 14:18] benjamingeer commented on #161
@subotic ?

[2020-03-12 08:14] benjamingeer commented on #161
Done in https://github.com/dasch-swiss/knora-api/pull/1615/commits/40fa1845314f7ef96e41d60fd62c31525525ffab.

[2020-03-13 07:52] tobiasschweizer opened #162 "Make Helper Function to determine a link prop from a link value prop"
Given `anything:hasOtherThingValue` the method should return `hasOtherThing`.

[2020-03-13 10:06] #162 closed

[2020-03-16 10:29] flavens opened #165 "Export member PropertyDefinition"
PropertyDefinition is not an exported member and it's needed in the [new resource-viewer component](https://github.com/dasch-swiss/knora-ui-ng-lib/pull/42) in knora-ui-ng-lib.

For now, PropertyDefinition is imported from the absolute path but it is not a good practice:
`import { PropertyDefinition } from '@knora/api/src/models/v2/ontologies/property-definition';`

[2020-03-16 10:33] flavens commented on #165
I get this error in my console while running knora-ui-ng-lib app to test my new resource-view and property-view components:
<img width="851" alt="Screenshot 2020-03-16 at 11 29 51" src="https://user-images.githubusercontent.com/29532462/76747488-80555080-6779-11ea-8b64-ecdf885b6d0f.png">

It may not be linked but last I got this kind of error message, it was because of the knora-api-lib.
Importing

[2020-03-16 11:01] #165 closed

[2020-03-23 09:56] tobiasschweizer commented on #161
@benjamingeer Ok I described the planned change in https://github.com/dasch-swiss/knora-proposals/blob/master/designs/2020-03-23-knora-api-lib-js-paging.md.

I will create a PR this week.

[2020-03-23 12:14] benjamingeer commented on #161
Can https://github.com/dasch-swiss/knora-api/pull/1615 be merged before this issue is resolved?

[2020-03-23 12:35] tobiasschweizer commented on #161
I would rather prepare the related PR first. This will happen this week. Would that be ok?

[2020-03-23 12:45] benjamingeer commented on #161
OK no problem.

[2020-04-15 16:32] #159 closed

[2020-04-15 17:05] #146 closed

[2020-04-27 07:49] #123 closed

[2020-05-07 13:37] #161 closed

[2020-05-12 15:57] andreas-aeschlimann opened #182 "Implement strict mode"
Today, I have learned about some new (~1-2 year old) compiler options of TypeScript which help to write better code and prevent errors. That is why I suggest that we implement this flag (called `strict` mode) in this library and also in all Angular/TypeScript projects that we have.

From the documentation:

Source: https://www.typescriptlang.org/docs/handbook/compiler-options.html

To summarize: T

[2020-05-12 15:59] tobiasschweizer commented on #182
Thanks for this, I will move it to youtrack.

Btw: I ordered  new book about TypeScript that should cover this too :-)

[2020-05-12 15:59] andreas-aeschlimann commented on #182
The `strict` flag forbids you to do things like that:
[code]

I have dicussed implications of this issue with @tobiasschweizer on the phone lately. Basically, as of now, you can define such a User class which never assigns a name. It basically means that `name` is undefined and it should be flagged as such.

With the strict flags, developers are forced to write `name: string | undefined` or assign

[2020-06-24 11:43] tobiasschweizer commented on #182
I think the flag you are talking about is `strictPropertyInitialization `.

[2020-07-23 21:58] andreas-aeschlimann commented on #182
Yes, but `strict` is a superset of that and thus better. Microsoft/Typescript states that in future they may add more flags that will be still covered if `strict` is set to `true`.

[2021-01-20 13:37] Vijeinath opened #296 "Endpoint for list causes error"
There seems to be an issue with an endpoint in version 1.1.0 to get a specific list:
`GET -> admin/lists/{listItemIri}`

By using v1.1.0 the requests are ending up in status 400 with the message:
[code]
These requests have the following key-value in the request header:
`{"x-knora-feature-toggles" : "new-list-admin-routes:1=on"}`

I tested with postman the same request one with and one without this

[2021-01-21 07:40] tobiasschweizer commented on #296
@Vijeinath Could you please create a bug report in youtrack?

[2021-02-03 09:15] tobiasschweizer commented on #296
@Vijeinath Can this issue be closed?

[2021-07-26 22:40] andreas-aeschlimann opened #360 "Implement json2typescript 1.5.0-rc.0"
I would like to inform you about the newest update of json2typescript. It is currently in RC state.

There are no breaking changes, but some deprecations and property name changes. Everything should still work as expected.

[2021-09-08 21:56] andreas-aeschlimann commented on #360
Does it work for you, @kilchenmann?

[2021-09-09 02:36] kilchenmann commented on #360
@andreas-aeschlimann Thank you for the information. I'm sorry, I didn't saw your first comment and we haven't updated json2typescript yet.

[2021-09-09 03:15] kilchenmann commented on #360
I updated now json2typescript to the mentioned version.

First I had to update some imports (e.g. `PropertyMatchingRule`) but it's fine.
Then I had other minor issues which were also easy to fix. But now I'm struggling with the following when running the unit tests. I tried several thing but it's getting even worse 🙈

[code]

[2021-09-11 22:45] andreas-aeschlimann commented on #360
It looks like some types were a bit inaccurate in the original code. There is no breaking change, but some types are checked more consistently so this can happen.

I think the problem is that `ajaxResponse.response` is of type `object` instead of type `any`. I would try to write

`responseData.body = jsonConvert.deserializeObject(ajaxResponse.response as any, dataType);`.

Does that help? If not,

[2021-09-13 12:26] kilchenmann commented on #360
Yes, this is also what I thought.

No worries. Go ahead and release the new version of json2typescript. I will have a look at the update on our side later.